* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: no-repeat center fixed;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

h1 {
  font-size: 5rem;
}

.clock {
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}

#greeting,
.login-form {
  margin-bottom: 1rem;
}

input {
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  padding: 1rem;
  width: 320px;
  color: white;
}

input::placeholder {
  color: white;
  opacity: 70%;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.todo-form input {
  border-bottom: 1px solid white;
  width: 240px;
  margin-bottom: 0.5rem;
}

.todo-form input::placeholder {
  font-size: 0.85rem;
}

ul {
  list-style: none;
}

li > span {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.5rem;
  width: 200px;
}

li > button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  width: 17px;
  border-radius: 50%;
}

li > button:hover {
  cursor: pointer;
  opacity: 50%;
}
